# Mobile Tools for Java (J2ME)
.mtj.tmp/
# Package Files
*.jar
*.war
*.ear
# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
# Other
/target/
*.class
.idea
.DS_Store
*.log
*.iml
tmp
.classpath
.project
.checkstyle
.build
bin
.settings
out