# Basically, this property adds the lombok.@Generated annotation to the relevant methods,
# classes, and fields of all classes annotated with Lombok annotations e.g. the Product class.
# As a result, JaCoCo then ignores all the constructs annotated with this annotation and
# they're not shown in the reports.
lombok.addLombokGeneratedAnnotation = true

